 <!DOCTYPE html>
<html>
  <head>
    <title>Product</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="bootstrap.min.js" />
    <script src="https://kit.fontawesome.com/5f2ca8eb57.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Header Start(Navigation) -->
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="#"
          ><img
            id="logo"
            class="logo"
            src="logo.png"
            alt="LOGO"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="true"
          aria-label="Toggle navigation"
          onclick="toogleExpand()"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutus.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="product.html">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contacts</a>
            </li>
            <li>
             <li>
            <form class="example" action="searchbutton">
			  <input type="text" placeholder="Search.." name="search">
			  <button type="submit"><i class="fa fa-search"></i></button>
			</form>
			</li>
          </ul>
        </div>

      </nav>
    </header>
    <!-- Header End(Navigation) -->
    
 <div   style="padding-top: 20px;background-color: #C2C2C2; margin-top: 20px; margin-left: 40px; margin-right: 40px; padding-bottom: 20px; text-align: center; font-size: 25px; font-family: serif;
        border: 1px; border-style: outset;">
          <h1>Products</h1>
      </div>
      <aside class="filters"
    style="background-color: white; width: 10vw; height: 20vh; display: flex; flex-direction: column; align-items: center; position: absolute; top: 107px; overflow: hidden;">
    <div class="filt">
        <form action="filtersearch.jsp" method="post">
            <h5>Select Price</h5>
            <select name="selectedPrice">
                <option value="below1000">Below 1000</option>
                <option value="1000to3000">1000 to 3000</option>
                <option value="above3000">Above 3000</option>
            </select>
            <br><br>
            <input type="submit" value="Search Product">
        </form>
    </div>
</aside>
      <!--division for categories of book to work in css-->
      <div class="overall">
      <div class="container"> 
          <h2 >Pant</h2>
                <div class="product">
                  <img src="11.jpg" id="images">
                    <div class="desc"> <b>Price: Rs. 3560</b><br>
                    <button id="addbtn" > Add to cart</button>     
                    </div>
                </div>
                <div class="product">
                  <img src="15.jpg" id="images">
                   <div class="desc"> <b> Price: Rs. 4900<br></b> 
                   <button id="addbtn" > Add to cart</button>    
                    </div>
                </div>
                <div class="product">
                  <img src="13.jpg" id="images">
                    <div class="desc">  <b>Price: Rs. 4690</b><br>  
                    <button id="addbtn" > Add to cart</button>   
                    </div>
                </div>
                <div class="product">
                  <img src="14.jpg" id="images"> 
                    <div class="desc"> <b>Price: Rs. 5475</b></br> 
                    <button id="addbtn" > Add to cart</button>    
                    </div>
                </div>
                
              
        </div>
          <div class="container">
            <hr width="1260px"></br></br><h2>T-shirt</h2>
          </div>
          <div class="container">
              <div class="product">
                <img src="111.jpeg" id="images">
                  <div class="desc"><b>Price: Rs. 5500</b></br>   
                  <button id="addbtn" > Add to cart</button>  
                  </div>
              </div>
          <div class="product">
            <img src="112.jpg" id="images">
              <div class="desc"> <b>Price: Rs. 4500</br>
              <button id="addbtn" > Add to cart</button>
                                                 
              </div>
          </div>
          <div class="product">
            <img src="113.jpeg" id="images">
              <div class="desc">  <b>Price: Rs. 3890</b></br> 
              <button id="addbtn" > Add to cart</button>    
              </div>
          </div>
            <div class="product">
                <img src="114.jpg" id="images">
                  <div class="desc"> <b> Price: Rs. 5275</b></br>
                  <button id="addbtn" > Add to cart</button>     
                  </div>
          </div>
    
        </div>
        <div class="container"> 
          <hr width="1260px"></br></br><h2>Shirt</h2>
        </div>
        <div class="container">
          <div class="product">
          <img src="1111.jpg" id="images">
            <div class="desc"><b> Price: Rs. 5140</b></br>  
            <button id="addbtn" > Add to cart</button>   
            </div>
        </div>
          <div class="product">
            <img src="2222.jpg" id="images">
              <div class="desc"><b> Price: Rs. 4500</br></b>  
              <button id="addbtn" > Add to cart</button>   
              </div>
          </div>
            <div class="product">
              <img src="3333.jpg" id="images">
                <div class="desc"><b> Price: Rs. 3890</b></br>   
                <button id="addbtn" > Add to cart</button>  
                </div>
            </div>
            <div class="product">
              <img src="4444.jpg" id="images">
                <div class="desc"><b>  Price: Rs. 3975</b></br>  
                <button id="addbtn" > Add to cart</button>   
                </div>
            </div>
            </div>
            <div class="container"> 
              <hr width="1260px"></br></br><h2>Trouser</h2>
            </div>
            <div class="container">
              <div class="product">
                </a><img src="11111.jpg" id="images">
                    <div class="desc"> <b>Price: Rs. 5140</b></br>   
                    <button id="addbtn" > Add to cart</button>  
                    </div>
              </div>
              <div class="product">
                <img src="22222.jpg" id="images">
                  <div class="desc"> <b>Price: Rs. 4500</br></b>
 				<button id="addbtn" > Add to cart</button>    
                  </div>
              </div>
              <div class="product">
                <img src="33333.jpeg" id="images">
                  <div class="desc"> <b>Price: Rs. 3890</b></br>   
                  <button id="addbtn" > Add to cart</button>  
                  </div>
              </div>
              <div class="product">
                <img src="44444.jpg" id="images">
                  <div class="desc">  <b>Price: Rs. 3975</b></br>
                  <button id="addbtn" > Add to cart</button>     
                  </div>
              </div>
           
              </div>
              <div class="container"> 
                <hr width="1260px"></br></br><h2>Socks</h2>
              </div>
              <div class="container">
                <div class="product">
                  <img src="socks1.jpg" id="images">
                    <div class="desc"><b>Price: Rs. 999</b></br>   
                    <button id="addbtn" > Add to cart</button>  
                    </div>
                </div>
                <div class="product">
                  <img src="socks2.jpg" id="images">
                   <div class="desc"> <b>Price: Rs. 899</br></b> 
                   <button id="addbtn" > Add to cart</button>
   
                    </div>
                </div>
                <div class="product">
                  <img src="socks3.jpg" id="images">
                    <div class="desc"> <b>Price: Rs. 850</b></br>
                    <button id="addbtn" > Add to cart</button> 
   
                    </div>
                </div>
                <div class="product">
                  <img src="socks4.jpg" id="images"> 
                   <div class="desc"><b>Price: Rs. 1300</b></br> 
                   <button id="addbtn" > Add to cart</button>    
                    </div>
                </div>
                </div>
                     <div class="container"> 
                <hr width="1260px"></br></br><h2>Swim-wear</h2>
              </div>
              <div class="container">
                <div class="product">
                  <img src="swim1.jpg" id="images">
                    <div class="desc"><b>Price: Rs. 3560</b></br>   
                    <button id="addbtn" > Add to cart</button>  
                    </div>
                </div>
                <div class="product">
                  <img src="swim2.jpg" id="images">
                   <div class="desc"> <b>Price: Rs. 4900</br></b> 
                   <button id="addbtn" > Add to cart</button>
   
                    </div>
                </div>
                <div class="product">
                  <img src="swim3.jpg" id="images">
                    <div class="desc"><b> Price: Rs. 4690</b></br>
                    <button id="addbtn" > Add to cart</button> 
   
                    </div>
                </div>
                <div class="product">
                  <img src="swim4.jpg" id="images"> 
                   <div class="desc"><b>Price: Rs. 5475</b></br> 
                   <button id="addbtn" > Add to cart</button>    
                    </div>
                </div>
                </div>
                <button id="buttonID" onClick="functionName()"><i class="fas fa-arrow-up"></i></button>
		<script src="script.js"></script> 
            </div>
         
     
        <br>
               <!-- Footer Start -->
    <footer class="footer">
      <div class="container">
        <div class="row pb-5">
          <div class="col-md-3">
            <h3>Peach-Collection</h3>
            <p>
              Your design.Our product.
            </p>
          </div>
          <div class="offset-md-1 col-md-3 title">
            <h3>Contacts</h3>
            <div class="para1">
              <span class="left-styled-para">Kathmandu,Nepal</span><br />
            </div>
            <div class="para2">
              <span class="left-styled-para">Peachcollection@gmail.com</span><br />
            </div>
            <div class="para3">
              <span class="left-styled-para">1234567890</span><br />
            </div>
          </div>
          <div class="offset-md-1 col-md-4">
            <div class="social-icon-links">
              <div class="social facebook">
                <a href="#"><i class="fab fa-facebook-f mt-2"></i></a>
              </div>
              <div class="social twitter">
                <a href="#"><i class="fab fa-twitter mt-2"></i></a>
              </div>
              <div class="social instragram">
                <a href="#"><i class="fab fa-instagram mt-2"></i></a>
              </div>
              <div class="social google-plus">
                <a href="#"><i class="fab fa-google-plus-g mt-2"></i></a>
              </div>
            </div>
            <p class="mt-4">
              Subscribe to our newsletter of follow us on the social channels to
              stay tuned.
            </p>
          </div>
        </div>
        <hr class="footer-divider" />
        <div class="footer-bootom">
          <p>© 2020 Website - Peach-Collection</p>
          <span> Contact us | Privacy policy</span>
        </div>
      </div>
    </footer>
    <!-- Footer End -->
	<script src="https://kit.fontawesome.com/5f2ca8eb57.js"></script>
    <!-- Jquery js Start -->
  
  </body>
</html>
    